.error-message {
    color: red;
  }

  .large-dropdown {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px; /* Add padding to make it visually larger */
    width:60%
    
  }
  
  